@import url("https://fonts.cdnfonts.com/css/bad-script-2");
$holes-cont-width: 2.6vw;

.text-font {
  font-family: "Bad Script", sans-serif;
  color: #6600ff;
}
.background {
  background-image: url(../images/list.png);
  background-size: cover;
  z-index: -1;
  box-shadow: inset 90px 0 100px -10px #99999990;
  &::before {
    content: "";
    position: absolute;
    background-color: rgb(225, 98, 98);
    right: 6vw;
    width: 1px;
    height: 100%;
  }
}
.page-title {
  font-size: 20px;
  color: #555;
}
.card-wrapper {
  position: relative;
  perspective: 4000px;
  perspective-origin: 50% 50%;
  // border: 1px solid black;
}
.content {
  width: calc(100% - $holes-cont-width);
  margin-top: 7vh;
}
.title {
  @extend .text-font;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 25px;
  height: 7vh;
  text-align: center;
}
.holes-container {
  position: relative;
  width: $holes-cont-width;
}
.hole {
  position: relative;
  width: 1.2vw;
  height: 1.2vw;
  left: calc(($holes-cont-width - 1.2vw) / 2);
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 50%;
  background: #444;
}
.connector {
  position: absolute;
  z-index: 100;
  width: 3.6vw;
  height: 1.4vh;
  top: 0.3vh;
  left: 0.7vw;
  background: radial-gradient(circle at 100%, #333, #ddd, #333);
}
.todos-container {
  display: grid;
}
.todo-title,
.todo-id,
.check {
  @extend .text-font;
  height: 4vh;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.todo-id {
  font-size: 18px;
}
.todo-title {
  font-size: 20px;
}
.todo-add-form {
  @extend .text-font;
  height: 4vh;
  width: calc(100% + 3.5vw);
  display: flex;
  justify-content: space-between;
}
.todo-input {
  @extend .text-font;
  background: url(../images/pencil.png) no-repeat left;
  background-size: 18px;
  padding-left: 20px;
  font-size: 20px;
  border: none;
  width: 27vw;
  opacity: 0.5;
  &:focus {
    outline: none;
    opacity: 1;
  }
}
.todo-add-btn, .todo-edit-btn {
  font-size: 14px;
  width: 2.5vw;
}
.check {
  font-size: 10px;
  text-align: end;
  padding-top: 1vh;
}
.todo-id-list {
  text-align: center;
}
.todo-title-list {
  width: 30vw;
}
.check-list {
  width: 4vw;
}
%card {
  position: relative;
  width: 40vw;
  height: 85vh;
  // border: 1px solid black;
}

.left-card {
  @extend %card;
  & .content {
    order: 1;
  }
  & .background {
    transform: scaleX(-1);
  }
  & .todos-container {
    & .todo-id-list {
      order: 1;
      width: 4vw;
    }
    & .todo-title-list {
      padding-left: 1vw;
      order: 3;
    }
    grid-template-columns: [todo-id-list] 4vw [check-list] 2vw [todo-title-list] 30vw;
  }
  & .check-list {
    justify-self: flex-start;
    width: 2vw;
    order: 2;
  }
  & .holes-container {
    order: 2;
  }
}
.right-card {
  @extend %card;
  & .content {
    order: 2;
  }
  & .todos-container {
    & .todo-id-list {
      order: 3;
      width: 4vw;
      margin-top: 4vh;
    }
    & .todo-title-list {
      padding-right: 1vw;
      order: 1;
    }
    & .check-list {
      justify-self: flex-end;
      width: 2vw;
      margin-top: 4vh;
      order: 2;
    }
    grid-template-columns: [todo-title-list] 30vw [check-list] 2vw [todo-id-list] 4vw;
  }
  & .holes-container {
    order: 1;
  }
  & .connector {
    display: none;
  }
}

@mixin page-anim($name, $position) {
  position: absolute !important;
  @if $position == left {
    transform-origin: 0% 50%;
  } @else {
    transform-origin: 100% 50%;
  }
  #{$position}: 50%;
  z-index: 10;
  animation: 0.4s linear forwards $name;
}
@mixin connector-anim($i, $direction, $function, $turn) {
  z-index: 100;
  @if ($turn == next and $direction == normal) or
    ($turn == prev and $direction == reverse)
  {
    transform-origin: 0% 50%;
  } @else {
    transform-origin: 100% 50%;
  }

  animation: 0.4s #{$function} #{$direction} both connectorLeft-#{$i};
  @keyframes connectorLeft-#{$i} {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scaleX(0.8);
    }
    90% {
      transform: scaleX(0.65);
    }
    100% {
      transform: scale(0.48);
    }
  }
}

.next-anim-1 {
  @extend .right-card;
  @include page-anim(turnNextHalf, left);
  @keyframes turnNextHalf {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-90deg);
    }
  }
}
.next-anim-2 {
  @extend .left-card;
  .card {
    transform: scaleX(-1);
  }
  @include page-anim(turnNext, left);
  @keyframes turnNext {
    from {
      transform: rotateY(-90deg);
    }
    to {
      transform: rotateY(-180deg);
    }
  }
}

.prev-anim-1 {
  @extend .left-card;
  @include page-anim(turnPrevHalf, right);
  @keyframes turnPrevHalf {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(90deg);
    }
  }
}
.prev-anim-2 {
  @extend .right-card;
  .card {
    transform: scaleX(-1);
  }
  @include page-anim(turnPrev, right);
  @keyframes turnPrev {
    from {
      transform: rotateY(90deg);
    }
    to {
      transform: rotateY(180deg);
    }
  }
}

.connector-anim-next-1 {
  @extend .left-card;
  .connector {
    @include connector-anim(1, normal, ease-in, next);
  }
}
.connector-anim-next-2 {
  @extend .left-card;
  & .connector {
    @include connector-anim(2, reverse, ease-out, next);
  }
}
.connector-anim-prev-1 {
  @extend .left-card;
  .connector {
    @include connector-anim(3, normal, ease-out, prev);
  }
}
.connector-anim-prev-2 {
  @extend .left-card;
  .connector {
    @include connector-anim(4, reverse, ease-in, prev);
  }
}
