<template>
  <div>
    <div class="page-title text-center mx-16 mb-4 mt-6">{{ pageTitle }}</div>
    <div class="d-flex">
      <div class="d-flex justify-center w-100 mb-3 card-wrapper mx-auto">
        <card
          class="h-100"
          :card="cards.left"
          :isCompleted="checkCompleted(cards.left)"
          :class="cards.left.class"
          @remove="remove"
        >
        </card>
        <card
          class="h-100"
          :card="cards.right"
          :isCompleted="checkCompleted(cards.right)"
          @add="addItem"
          @complete="markCompleted"
          @edit="edit"
          :class="cards.right.class"
        >
        </card>
        <card
          class="h-100"
          :card="cards.animation"
          :isCompleted="checkCompleted(cards.animation)"
          :class="cards.animation.class"
        >
        </card>
      </div>
      <pagination
        :card="card"
        style="z-index: 0"
        :perPage="perPage"
        :lastPage="lastPage"
        :size="size"
        :page="Number(route.params.id)"
      >
      </pagination>
    </div>
  </div>
</template>
<script setup>
import axios from "axios";
import _ from "lodash";
import card from "../components/card.vue";
import pagination from "../components/pagination.vue";
import sound from "@/assets/sound/page-flip.mp3";
const route = useRoute();

definePageMeta({
  key: () => "/app.vue",
});
const pageTitle = ref([]);
const completed = ref([]);
const notCompleted = ref([]);
const nextPageCompleted = ref([]);
const nextPageNotCompleted = ref([]);
const prevPageCompleted = ref([]);
const prevPageNotCompleted = ref([]);
const size = ref();
const lastPage = ref();
const perPage = ref(15);

async function getTodos() {
  const res = await axios.get(`/api/pages/${route.params.id}/todos`);
  pageTitle.value = res.data.title;
  lastPage.value = res.data.last_page;
  completed.value = res.data.completed;
  notCompleted.value = res.data.not_completed;
  nextPageCompleted.value = res.data.next_page_completed;
  nextPageNotCompleted.value = res.data.next_page_not_completed;
  prevPageCompleted.value = res.data.prev_page_completed;
  prevPageNotCompleted.value = res.data.prev_page_not_completed;
}
async function addItem(toDoText) {
  const res = await axios.post(`/api/pages/${route.params.id}/todos/add`, {
    data: {
      title: `${toDoText}`,
    },
  });
}
async function markCompleted(id) {
  const res = await axios.patch(`/api/todos/complete/${id}`);
  getTodos();
}
async function remove(id) {
  const res = await axios.delete(`/api/todos/delete/${id}`);
  getTodos();
}
async function edit(title, id) {
  const res = await axios.patch(`/api/todos/edit/${id}`, {
    title: `${title}`,
  });
  getTodos();
}
function checkCompleted(card) {
  if (
    card.content == completed.value ||
    card.content == prevPageCompleted.value ||
    card.content == nextPageCompleted.value
  ) {
    return true;
  } else {
    return false;
  }
}
const cards = reactive({
  left: {
    show: true,
    content: completed,
    title: "Сделано",
    class: "left-card",
  },
  right: {
    show: true,
    content: notCompleted,
    title: "Сделать",
    class: "right-card",
  },
  animation: {
    show: false,
    content: {},
    title: "",
    class: "",
  },
});
watch(
  () => route.params.id,
  (newPage, oldPage) => {
    if (newPage < oldPage) {
      turnedPrev();
    }
    if (newPage > oldPage) {
      turnedNext();
    }
  }
);
async function turnedNext() {
  //const mySound = new Audio(sound);
  //await mySound.play();
  // первая часть переворота
  await getTodos();
  cards.left.class = "connector-anim-next-1";
  cards.left.content = prevPageCompleted;
  cards.animation.content = prevPageNotCompleted;
  cards.animation.show = true;
  cards.animation.title = "Сделать";
  cards.animation.class = "next-anim-1";

  // вторая часть переворота
  setTimeout(function () {
    cards.left.class = "connector-anim-next-2";
    cards.animation.content = completed;
    cards.animation.class = "next-anim-2";
    cards.animation.title = "Сделано";
  }, 400);

  setTimeout(function () {
    cards.left.class = "left-card";
    cards.animation = { show: false };
    cards.left.content = completed;
  }, 800);
}
async function turnedPrev() {
  //const mySound = new Audio(sound);
  //await mySound.play();
  // первая часть переворота
  await getTodos();
  cards.left.class = "connector-anim-prev-1";
  cards.right.content = nextPageNotCompleted;
  cards.animation.content = nextPageCompleted;
  cards.animation.show = true;
  cards.animation.title = "Сделано";
  cards.animation.class = "prev-anim-1";

  // вторая часть переворота
  setTimeout(function () {
    cards.left.class = "connector-anim-prev-2";
    cards.animation.content = notCompleted;
    cards.animation.class = "prev-anim-2";
    cards.animation.title = "Сделать";
  }, 400);

  setTimeout(function () {
    cards.left.class = "left-card";
    cards.animation = { show: false };
    cards.right.content = notCompleted;
  }, 800);
}
onMounted(() => {
  getTodos();
});
</script>
<style></style>
