<template>
  <div
    class="align-self-center px-6 position-absolute d-flex w-100"
    :class="prevIs ? 'justify-space-between' : 'justify-end'"
  >
    <nuxt-link v-if="prevIs" @click = "prevPage()" :to="`/pages/${page - 1}/todos`" >
      <v-icon
        >mdi-arrow-u-right-top
      </v-icon>
    </nuxt-link>
    <nuxt-link v-if="nextIs" :to="`/pages/${page + 1}/todos`"@click = "nextPage()">
      <v-icon
        >mdi-arrow-u-left-top
      </v-icon>
    </nuxt-link>
  </div>
</template>
<script setup>
import _ from "lodash";
import axios from "axios";

const emit = defineEmits(["paginate", "turnNext", "turnPrev"]);
const props = defineProps({
  card: Object,
  perPage: Number,
  size: Number,
  lastPage: Number,
  page: Number,
});
const totPages = computed(() => {
  return props.lastPage;
});
const page = computed(() => {
  return props.page;
});
const nextIs = computed(() => {
  return page.value !== totPages.value;
});

const prevIs = computed(() => {
  return page.value > 1;
});

function nextPage() {
    emit("turnNext");
}
function prevPage() {
    emit("turnPrev");
}
onMounted(() => {
});
</script>
<style scoped></style>
